// HELPER SECTION
@function printFlexType($type) {
  @if $type == 's' {
    @return start;
  } @else if $type == 'c' {
    @return center;
  } @else if $type == 'e' {
    @return end;
  } @else if $type == 'sb' {
    @return space-between;
  } @else if $type == 'sa' {
    @return space-around;
  } @else if $type == 'st' {
    @return stretch;
  }
}

@mixin col($colCount, $margin: 0rem) {
  width: calc((100% / 12) * #{$colCount} - #{$margin});
}

@mixin flex($x, $y) {
  display: flex;
  justify-content: printFlexType($x);
  align-items: printFlexType($y);
}

@mixin bg() {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.cursor-pointer {
  cursor: pointer;
}

.trans {
  transition: 0.3s;
}

.ls-1 {
  letter-spacing: 1px;
}

.ls-2 {
  letter-spacing: 2px;
}

.border-right {
  border-right: 1px solid rgba(29, 29, 31, 0.1);
}

// HELPER SECTION

$mobile: 320px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$color_1: #FFFFFF19;
$color_2: #FFFFFF33;
$color_3: #FFFFFF4c;
$color_4: #FFFFFF66;
$color_5: #FFFFFF7f;
$color_6: #FFFFFF99;
$color_7: #FFFFFFb2;
$color_8: #FFFFFFcc;
$color_9: #FFFFFFe5;
$color_10: #1D1D1F19;
$color_11: #1D1D1F33;
$color_12: #1D1D1F4c;
$color_13: #1D1D1F66;
$color_14: #1D1D1F7f;
$color_15: #1D1D1F99;
$color_16: #1D1D1Fb2;
$color_17: #1D1D1Fcc;
$color_18: #1D1D1Fe5;
$color_19: #2CA59219;
$color_20: #2CA59233;
$color_21: #2CA5924c;
$color_22: #2CA59266;
$color_23: #2CA5927f;
$color_24: #2CA59299;
$color_25: #2CA592b2;
$color_26: #2CA592cc;
$color_27: #2CA592e5;
$color_28: #2BD70019;
$color_29: #2BD70033;
$color_30: #2BD7004c;
$color_31: #2BD70066;
$color_32: #2BD7007f;
$color_33: #2BD70099;
$color_34: #2BD700b2;
$color_35: #2BD700cc;
$color_36: #2BD700e5;
$color_37: #FFD85219;
$color_38: #FFD85233;
$color_39: #FFD8524c;
$color_40: #FFD85266;
$color_41: #FFD8527f;
$color_42: #FFD85299;
$color_43: #FFD852b2;
$color_44: #FFD852cc;
$color_45: #FFD852e5;
$color_46: #FE504F19;
$color_47: #FE504F33;
$color_48: #FE504F4c;
$color_49: #FE504F66;
$color_50: #FE504F7f;
$color_51: #FE504F99;
$color_52: #FE504Fb2;
$color_53: #FE504Fcc;
$color_54: #FE504Fe5;
$color_55: #000019;
$color_56: #000033;
$color_57: #00004c;
$color_58: #000066;
$color_59: #00007f;
$color_60: #000099;
$color_61: #0000b2;
$color_62: #0000cc;
$color_63: #0000e5;
$color_64: #2CA592;
$color_65: #1D1D1F;
$color_66: #FFFFFF;
$color_67: #FE504F;
$color_68: #FFD852;
$color_69: #2BD700;
$background-color_1: #FFFFFF19;
$background-color_2: #FFFFFF33;
$background-color_3: #FFFFFF4c;
$background-color_4: #FFFFFF66;
$background-color_5: #FFFFFF7f;
$background-color_6: #FFFFFF99;
$background-color_7: #FFFFFFb2;
$background-color_8: #FFFFFFcc;
$background-color_9: #FFFFFFe5;
$background-color_10: #1D1D1F19;
$background-color_11: #1D1D1F33;
$background-color_12: #1D1D1F4c;
$background-color_13: #1D1D1F66;
$background-color_14: #1D1D1F7f;
$background-color_15: #1D1D1F99;
$background-color_16: #1D1D1Fb2;
$background-color_17: #1D1D1Fcc;
$background-color_18: #1D1D1Fe5;
$background-color_19: #2CA59219;
$background-color_20: #2CA59233;
$background-color_21: #2CA5924c;
$background-color_22: #2CA59266;
$background-color_23: #2CA5927f;
$background-color_24: #2CA59299;
$background-color_25: #2CA592b2;
$background-color_26: #2CA592cc;
$background-color_27: #2CA592e5;
$background-color_28: #2BD70019;
$background-color_29: #2BD70033;
$background-color_30: #2BD7004c;
$background-color_31: #2BD70066;
$background-color_32: #2BD7007f;
$background-color_33: #2BD70099;
$background-color_34: #2BD700b2;
$background-color_35: #2BD700cc;
$background-color_36: #2BD700e5;
$background-color_37: #FFD85219;
$background-color_38: #FFD85233;
$background-color_39: #FFD8524c;
$background-color_40: #FFD85266;
$background-color_41: #FFD8527f;
$background-color_42: #FFD85299;
$background-color_43: #FFD852b2;
$background-color_44: #FFD852cc;
$background-color_45: #FFD852e5;
$background-color_46: #FE504F19;
$background-color_47: #FE504F33;
$background-color_48: #FE504F4c;
$background-color_49: #FE504F66;
$background-color_50: #FE504F7f;
$background-color_51: #FE504F99;
$background-color_52: #FE504Fb2;
$background-color_53: #FE504Fcc;
$background-color_54: #FE504Fe5;
$background-color_55: #000019;
$background-color_56: #000033;
$background-color_57: #00004c;
$background-color_58: #000066;
$background-color_59: #00007f;
$background-color_60: #000099;
$background-color_61: #0000b2;
$background-color_62: #0000cc;
$background-color_63: #0000e5;
$background-color_64: #0000;
$background-color_65: #FFFFFF;
$background-color_66: #2CA592;
$background-color_67: #1D1D1F;
$background-color_68: #FFD852;
$border-color_1: #FFFFFF;
$border-color_2: #2CA592;

.c-white-100 {
  color: $color_1;
}
.bgc-white-100 {
  background-color: $background-color_1;
}
.c-white-200 {
  color: $color_2;
}
.bgc-white-200 {
  background-color: $background-color_2;
}
.c-white-300 {
  color: $color_3;
}
.bgc-white-300 {
  background-color: $background-color_3;
}
.c-white-400 {
  color: $color_4;
}
.bgc-white-400 {
  background-color: $background-color_4;
}
.c-white-500 {
  color: $color_5;
}
.bgc-white-500 {
  background-color: $background-color_5;
}
.c-white-600 {
  color: $color_6;
}
.bgc-white-600 {
  background-color: $background-color_6;
}
.c-white-700 {
  color: $color_7;
}
.bgc-white-700 {
  background-color: $background-color_7;
}
.c-white-800 {
  color: $color_8;
}
.bgc-white-800 {
  background-color: $background-color_8;
}
.c-white-900 {
  color: $color_9;
}
.bgc-white-900 {
  background-color: $background-color_9;
}
.c-black-100 {
  color: $color_10;
}
.bgc-black-100 {
  background-color: $background-color_10;
}
.c-black-200 {
  color: $color_11;
}
.bgc-black-200 {
  background-color: $background-color_11;
}
.c-black-300 {
  color: $color_12;
}
.bgc-black-300 {
  background-color: $background-color_12;
}
.c-black-400 {
  color: $color_13;
}
.bgc-black-400 {
  background-color: $background-color_13;
}
.c-black-500 {
  color: $color_14;
}
.bgc-black-500 {
  background-color: $background-color_14;
}
.c-black-600 {
  color: $color_15;
}
.bgc-black-600 {
  background-color: $background-color_15;
}
.c-black-700 {
  color: $color_16;
}
.bgc-black-700 {
  background-color: $background-color_16;
}
.c-black-800 {
  color: $color_17;
}
.bgc-black-800 {
  background-color: $background-color_17;
}
.c-black-900 {
  color: $color_18;
}
.bgc-black-900 {
  background-color: $background-color_18;
}
.c-green-100 {
  color: $color_19;
}
.bgc-green-100 {
  background-color: $background-color_19;
}
.c-green-200 {
  color: $color_20;
}
.bgc-green-200 {
  background-color: $background-color_20;
}
.c-green-300 {
  color: $color_21;
}
.bgc-green-300 {
  background-color: $background-color_21;
}
.c-green-400 {
  color: $color_22;
}
.bgc-green-400 {
  background-color: $background-color_22;
}
.c-green-500 {
  color: $color_23;
}
.bgc-green-500 {
  background-color: $background-color_23;
}
.c-green-600 {
  color: $color_24;
}
.bgc-green-600 {
  background-color: $background-color_24;
}
.c-green-700 {
  color: $color_25;
}
.bgc-green-700 {
  background-color: $background-color_25;
}
.c-green-800 {
  color: $color_26;
}
.bgc-green-800 {
  background-color: $background-color_26;
}
.c-green-900 {
  color: $color_27;
}
.bgc-green-900 {
  background-color: $background-color_27;
}
.c-openGreen-100 {
  color: $color_28;
}
.bgc-openGreen-100 {
  background-color: $background-color_28;
}
.c-openGreen-200 {
  color: $color_29;
}
.bgc-openGreen-200 {
  background-color: $background-color_29;
}
.c-openGreen-300 {
  color: $color_30;
}
.bgc-openGreen-300 {
  background-color: $background-color_30;
}
.c-openGreen-400 {
  color: $color_31;
}
.bgc-openGreen-400 {
  background-color: $background-color_31;
}
.c-openGreen-500 {
  color: $color_32;
}
.bgc-openGreen-500 {
  background-color: $background-color_32;
}
.c-openGreen-600 {
  color: $color_33;
}
.bgc-openGreen-600 {
  background-color: $background-color_33;
}
.c-openGreen-700 {
  color: $color_34;
}
.bgc-openGreen-700 {
  background-color: $background-color_34;
}
.c-openGreen-800 {
  color: $color_35;
}
.bgc-openGreen-800 {
  background-color: $background-color_35;
}
.c-openGreen-900 {
  color: $color_36;
}
.bgc-openGreen-900 {
  background-color: $background-color_36;
}
.c-yellow-100 {
  color: $color_37;
}
.bgc-yellow-100 {
  background-color: $background-color_37;
}
.c-yellow-200 {
  color: $color_38;
}
.bgc-yellow-200 {
  background-color: $background-color_38;
}
.c-yellow-300 {
  color: $color_39;
}
.bgc-yellow-300 {
  background-color: $background-color_39;
}
.c-yellow-400 {
  color: $color_40;
}
.bgc-yellow-400 {
  background-color: $background-color_40;
}
.c-yellow-500 {
  color: $color_41;
}
.bgc-yellow-500 {
  background-color: $background-color_41;
}
.c-yellow-600 {
  color: $color_42;
}
.bgc-yellow-600 {
  background-color: $background-color_42;
}
.c-yellow-700 {
  color: $color_43;
}
.bgc-yellow-700 {
  background-color: $background-color_43;
}
.c-yellow-800 {
  color: $color_44;
}
.bgc-yellow-800 {
  background-color: $background-color_44;
}
.c-yellow-900 {
  color: $color_45;
}
.bgc-yellow-900 {
  background-color: $background-color_45;
}
.c-red-100 {
  color: $color_46;
}
.bgc-red-100 {
  background-color: $background-color_46;
}
.c-red-200 {
  color: $color_47;
}
.bgc-red-200 {
  background-color: $background-color_47;
}
.c-red-300 {
  color: $color_48;
}
.bgc-red-300 {
  background-color: $background-color_48;
}
.c-red-400 {
  color: $color_49;
}
.bgc-red-400 {
  background-color: $background-color_49;
}
.c-red-500 {
  color: $color_50;
}
.bgc-red-500 {
  background-color: $background-color_50;
}
.c-red-600 {
  color: $color_51;
}
.bgc-red-600 {
  background-color: $background-color_51;
}
.c-red-700 {
  color: $color_52;
}
.bgc-red-700 {
  background-color: $background-color_52;
}
.c-red-800 {
  color: $color_53;
}
.bgc-red-800 {
  background-color: $background-color_53;
}
.c-red-900 {
  color: $color_54;
}
.bgc-red-900 {
  background-color: $background-color_54;
}
.c-transparent-100 {
  color: $color_55;
}
.bgc-transparent-100 {
  background-color: $background-color_55;
}
.c-transparent-200 {
  color: $color_56;
}
.bgc-transparent-200 {
  background-color: $background-color_56;
}
.c-transparent-300 {
  color: $color_57;
}
.bgc-transparent-300 {
  background-color: $background-color_57;
}
.c-transparent-400 {
  color: $color_58;
}
.bgc-transparent-400 {
  background-color: $background-color_58;
}
.c-transparent-500 {
  color: $color_59;
}
.bgc-transparent-500 {
  background-color: $background-color_59;
}
.c-transparent-600 {
  color: $color_60;
}
.bgc-transparent-600 {
  background-color: $background-color_60;
}
.c-transparent-700 {
  color: $color_61;
}
.bgc-transparent-700 {
  background-color: $background-color_61;
}
.c-transparent-800 {
  color: $color_62;
}
.bgc-transparent-800 {
  background-color: $background-color_62;
}
.c-transparent-900 {
  color: $color_63;
}
.bgc-transparent-900 {
  background-color: $background-color_63;
}
.pt-90 {
  padding-top: 5.625rem;
}
.fs-44 {
  font-size: 2.75rem;
}
.mw-639 {
  max-width: 39.9375rem;
}
.me-8 {
  margin-right: 0.5rem;
}
.mb-6 {
  margin-bottom: 0.375rem;
}
.pt-350 {
  padding-top: 21.875rem;
}
.mt-12 {
  margin-top: 0.75rem;
}
.h-220 {
  height: 13.75rem;
}
.mt-15 {
  margin-top: 0.9375rem;
}
.bgc-transparent {
  background-color: $background-color_64;
}
.c-green {
  color: $color_64;
}
.mt-32 {
  margin-top: 2rem;
}
.mb-32 {
  margin-bottom: 2rem;
}
.mb-60 {
  margin-bottom: 3.75rem;
}
.h-360 {
  height: 22.5rem;
}
.gap-30 {
  gap: 1.875rem;
}
.mh-270 {
  max-height: 16.875rem;
}
.h-50 {
  height: 3.125rem !important;
}
.h-170 {
  height: 10.625rem;
}
.mt-18 {
  margin-top: 1.125rem;
}
.pt-40 {
  padding-top: 2.5rem;
}
.mt-68 {
  margin-top: 4.25rem;
}
.mb-68 {
  margin-bottom: 4.25rem;
}
.bgc-white {
  background-color: $background-color_65;
}
.h-60 {
  height: 3.75rem;
}
.w-98 {
  width: 6.125rem;
}
.fs-20 {
  font-size: 1.25rem;
}
.c-black {
  color: $color_65;
}
.fw-300 {
  font-weight: 300;
}
.me-37 {
  margin-right: 2.3125rem;
}
.fs-10 {
  font-size: 0.625rem;
}
.ls-4 {
  letter-spacing: 0.25rem;
}
.fs-16 {
  font-size: 1rem;
}
.w-40 {
  width: 2.5rem;
}
.h-40 {
  height: 2.5rem;
}
.me-42 {
  margin-right: 2.625rem;
}
.fs-28 {
  font-size: 1.75rem;
}
.fs-30 {
  font-size: 1.875rem;
}
.pt-20 {
  padding-top: 1.25rem;
}
.fs-5 {
  font-size: 0.3125rem !important;
}
.fs-40 {
  font-size: 2.5rem;
}
.mt-51 {
  margin-top: 3.1875rem;
}
.h-48 {
  height: 3rem;
}
.br-7 {
  border-radius: 0.4375rem;
}
.mt-38 {
  margin-top: 2.375rem;
}
.h-46 {
  height: 2.875rem;
}
.ps-20 {
  padding-left: 1.25rem;
}
.h-44 {
  height: 2.75rem;
}
.minw-100 {
  min-width: 6.25rem;
}
.me-7 {
  margin-right: 0.4375rem;
}
.h-93 {
  height: 5.8125rem;
}
.fs-36 {
  font-size: 2.25rem;
}
.mb-18 {
  margin-bottom: 1.125rem;
}
.mt-56 {
  margin-top: 3.5rem;
}
.ps-15 {
  padding-left: 0.9375rem;
}
.br-14 {
  border-radius: 0.875rem;
}
.me-30 {
  margin-right: 1.875rem;
}
.h-190 {
  height: 11.875rem;
}
.fs-17 {
  font-size: 1.0625rem;
}
.p-20 {
  padding: 1.25rem;
}
.mt-55 {
  margin-top: 3.4375rem;
}
.mt-36 {
  margin-top: 2.25rem;
}
.mb-10 {
  margin-bottom: 0.625rem;
}
.mt-70 {
  margin-top: 4.375rem;
}
.mt-100 {
  margin-top: 6.25rem;
}
.mt-40 {
  margin-top: 2.5rem;
}
.mt-50 {
  margin-top: 3.125rem;
}
.me-27 {
  margin-right: 1.6875rem;
}
.mt-84 {
  margin-top: 5.25rem;
}
.flex-js-c {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flex-sb-c {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-jc-ae {
  display: flex;
  justify-content: center;
  align-items: end;
}
.flex-je-ae {
  display: flex;
  justify-content: flex-end;
  align-items: end;
}
.flex-jc-c {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-je-c {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.flex-js-s {
  display: flex;
  justify-content: flex-start;
  align-items: start;
}
.mb-34 {
  margin-bottom: 2.125rem;
}
.w-47 {
  width: 2.9375rem;
}
.h-27 {
  height: 1.6875rem;
}
.fs-14 {
  font-size: 0.875rem;
}
.h-440 {
  height: 27.5rem;
}
.h-100 {
  height: 6.25rem;
}
.mt-20 {
  margin-top: 1.25rem;
}
.fs-11 {
  font-size: 0.6875rem;
}
.ls-3 {
  letter-spacing: 0.1875rem;
}
.mt-10 {
  margin-top: 0.625rem;
}
.fw-400 {
  font-weight: 400;
}
.bgc-green {
  background-color: $background-color_66;
}
.mt-30 {
  margin-top: 1.875rem;
}
.c-white {
  color: $color_66;
}
.mt-3 {
  margin-top: 0.1875rem;
}
.w-180 {
  width: 11.25rem;
}
.mb-17 {
  margin-bottom: 1.0625rem;
}
.gap-10 {
  gap: 0.625rem;
}
.c-red {
  color: $color_67;
}
.mt-60 {
  margin-top: 3.75rem;
}
.mt-24 {
  margin-top: 1.5rem;
}
.h-90 {
  height: 5.625rem;
}
.roundLeftTop-14 {
  border-top-left-radius: 0.875rem;
}
.roundRightTop-14 {
  border-top-right-radius: 0.875rem;
}
.mt-17 {
  margin-top: 1.0625rem;
}
.c-yellow {
  color: $color_68;
}
.roundLeftBottom-14 {
  border-bottom-left-radius: 0.875rem;
}
.roundRightBottom-14 {
  border-bottom-right-radius: 0.875rem;
}
.c-openGreen {
  color: $color_69;
}
.mb-13 {
  margin-bottom: 0.8125rem;
}
.lh-24 {
  line-height: 1.5rem;
}
.mt-65 {
  margin-top: 4.0625rem;
}
.br-30 {
  border-radius: 1.875rem;
}
.me-6 {
  margin-right: 0.375rem;
}
.mt-21 {
  margin-top: 1.3125rem;
}
.mb-30 {
  margin-bottom: 1.875rem;
}
.h-270 {
  height: 16.875rem;
}
.w-45 {
  width: 2.8125rem;
}
.h-26 {
  height: 1.625rem;
}
.fs-12 {
  font-size: 0.75rem;
}
.bgc-black {
  background-color: $background-color_67;
}
.left-20 {
  left: 1.25rem;
}
.bottom-20 {
  bottom: 1.25rem;
}
.br-3 {
  border-radius: 0.1875rem;
}
.fs-15 {
  font-size: 0.9375rem;
}
.w-26 {
  width: 1.625rem;
}
.right-20 {
  right: 1.25rem;
}
.mt-102 {
  margin-top: 6.375rem;
}
.mt-29 {
  margin-top: 1.8125rem;
}
.mb-40 {
  margin-bottom: 2.5rem;
}
.mt-6 {
  margin-top: 0.375rem;
}
.me-4 {
  margin-right: 0.25rem;
}
.br-45 {
  border-radius: 2.8125rem;
}
.w-60 {
  width: 3.75rem;
}
.bgc-yellow {
  background-color: $background-color_68;
}
.fs-64 {
  font-size: 4rem;
}
.ms-23 {
  margin-left: 1.4375rem;
}
.fs-18 {
  font-size: 1.125rem;
}
.pb-3 {
  padding-bottom: 0.1875rem;
}
.fs-24 {
  font-size: 1.5rem;
}
.lh-22 {
  line-height: 1.375rem;
}
.w-80 {
  width: 5rem;
}
.br-6 {
  border-radius: 0.375rem;
}
.bw-4 {
  border-width: 0.25rem !important;
}
.bc-white {
  border-color: $border-color_1 !important;
}
.top-20 {
  top: 1.25rem;
}
.h-180 {
  height: 11.25rem;
}
.mt-31 {
  margin-top: 1.9375rem;
}
.fs-13 {
  font-size: 0.8125rem;
}
.mb-12 {
  margin-bottom: 0.75rem;
}
.mb-50 {
  margin-bottom: 3.125rem;
}
.gap-20 {
  gap: 1.25rem;
}
.w-49 {
  width: 49% !important;
}
.mb-36 {
  margin-bottom: 2.25rem;
}
.minh-320 {
  min-height: 20rem;
}
.p-10 {
  padding: 0.625rem;
}
.mb-3 {
  margin-bottom: 0.1875rem;
}
.pe-20 {
  padding-right: 1.25rem;
}
.px-4 {
  padding: 0.25rem;
}
.mt-26 {
  margin-top: 1.625rem;
}
.mt-80 {
  margin-top: 5rem;
}
.pe-3 {
  padding-right: 0.1875rem;
}
.w-51 {
  width: 3.1875rem;
}
.bw-5 {
  border-width: 0.3125rem !important;
}
.bc-green {
  border-color: $border-color_2 !important;
}
.mb-37 {
  margin-bottom: 2.3125rem;
}
.fs-35 {
  font-size: 2.1875rem;
}
@media (min-width: 768px) {
  .flex-md-js-c{
    @include flex('s', 'c')
  }
  .fs-md-15 {
    font-size: 0.9375rem;
  }
  .w-md-570 {
    width: 35.625rem !important;
  }
  .pt-md-70 {
    padding-top: 4.375rem;
  }
  .pe-md-400 {
    padding-right: 25rem;
  }
  .mt-md-165 {
    margin-top: 10.3125rem;
  }
  .h-md-440 {
    height: 27.5rem;
  }
  .h-md-570 {
    height: 35.625rem;
  }
  .h-md-130 {
    height: 8.125rem;
  }
  .w-md-138 {
    width: 8.625rem;
  }
  .flex-md-sb-c {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .br-md-14 {
    border-radius: 0.875rem !important;
  }
  .mb-md-10 {
    margin-bottom: 0.625rem;
  }
  .h-md-90 {
    height: 5.625rem;
  }
  .br-md-100 {
    border-radius: 6.25rem;
  }
  .ms-md-12 {
    margin-left: 0.75rem;
  }
  .ms-md-29 {
    margin-left: 1.8125rem;
  }
  .ms-md-10 {
    margin-left: 0.625rem;
  }
  .ms-md-22 {
    margin-left: 1.375rem;
  }
  .fs-md-20 {
    font-size: 1.25rem;
  }
  .fs-md-64 {
    font-size: 4rem;
  }
  .mt-md-154 {
    margin-top: 9.625rem;
  }
}
@media (min-width: 576px) {
  .h-sm-270 {
    height: 16.875rem;
  }
}
@media (min-width: 992px) {
  .w-lg-100 {
    width: 100% !important;
  }
}
