// HELPER SECTION
@function printFlexType($type) {
  @if $type == 's' {
    @return start;
  } @else if $type == 'c' {
    @return center;
  } @else if $type == 'e' {
    @return end;
  } @else if $type == 'sb' {
    @return space-between;
  } @else if $type == 'sa' {
    @return space-around;
  } @else if $type == 'st' {
    @return stretch;
  }
}

@mixin col($colCount, $margin: 0rem) {
  width: calc((100% / 12) * #{$colCount} - #{$margin});
}

@mixin flex($x, $y) {
  display: flex;
  justify-content: printFlexType($x);
  align-items: printFlexType($y);
}

@mixin bg() {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.cursor-pointer {
  cursor: pointer;
}

.trans {
  transition: 0.3s;
}

.ls-1 {
  letter-spacing: 1px;
}

.ls-2 {
  letter-spacing: 2px;
}

.border-right {
  border-right: 1px solid rgba(29, 29, 31, 0.1);
}

// HELPER SECTION

$mobile: 320px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$color_1: #FFFFFF19;
$color_2: #FFFFFF33;
$color_3: #FFFFFF4c;
$color_4: #FFFFFF66;
$color_5: #FFFFFF7f;
$color_6: #FFFFFF99;
$color_7: #FFFFFFb2;
$color_8: #FFFFFFcc;
$color_9: #FFFFFFe5;
$color_10: #1D1D1F19;
$color_11: #1D1D1F33;
$color_12: #1D1D1F4c;
$color_13: #1D1D1F66;
$color_14: #1D1D1F7f;
$color_15: #1D1D1F99;
$color_16: #1D1D1Fb2;
$color_17: #1D1D1Fcc;
$color_18: #1D1D1Fe5;
$color_19: #2CA59219;
$color_20: #2CA59233;
$color_21: #2CA5924c;
$color_22: #2CA59266;
$color_23: #2CA5927f;
$color_24: #2CA59299;
$color_25: #2CA592b2;
$color_26: #2CA592cc;
$color_27: #2CA592e5;
$color_28: #2BD70019;
$color_29: #2BD70033;
$color_30: #2BD7004c;
$color_31: #2BD70066;
$color_32: #2BD7007f;
$color_33: #2BD70099;
$color_34: #2BD700b2;
$color_35: #2BD700cc;
$color_36: #2BD700e5;
$color_37: #FFD85219;
$color_38: #FFD85233;
$color_39: #FFD8524c;
$color_40: #FFD85266;
$color_41: #FFD8527f;
$color_42: #FFD85299;
$color_43: #FFD852b2;
$color_44: #FFD852cc;
$color_45: #FFD852e5;
$color_46: #FE504F19;
$color_47: #FE504F33;
$color_48: #FE504F4c;
$color_49: #FE504F66;
$color_50: #FE504F7f;
$color_51: #FE504F99;
$color_52: #FE504Fb2;
$color_53: #FE504Fcc;
$color_54: #FE504Fe5;
$color_55: #000019;
$color_56: #000033;
$color_57: #00004c;
$color_58: #000066;
$color_59: #00007f;
$color_60: #000099;
$color_61: #0000b2;
$color_62: #0000cc;
$color_63: #0000e5;
$color_64: #2CA592;
$color_65: #1D1D1F;
$color_66: #FFFFFF;
$color_67: #FE504F;
$color_68: #FFD852;
$color_69: #2BD700;
$background-color_1: #FFFFFF19;
$background-color_2: #FFFFFF33;
$background-color_3: #FFFFFF4c;
$background-color_4: #FFFFFF66;
$background-color_5: #FFFFFF7f;
$background-color_6: #FFFFFF99;
$background-color_7: #FFFFFFb2;
$background-color_8: #FFFFFFcc;
$background-color_9: #FFFFFFe5;
$background-color_10: #1D1D1F19;
$background-color_11: #1D1D1F33;
$background-color_12: #1D1D1F4c;
$background-color_13: #1D1D1F66;
$background-color_14: #1D1D1F7f;
$background-color_15: #1D1D1F99;
$background-color_16: #1D1D1Fb2;
$background-color_17: #1D1D1Fcc;
$background-color_18: #1D1D1Fe5;
$background-color_19: #2CA59219;
$background-color_20: #2CA59233;
$background-color_21: #2CA5924c;
$background-color_22: #2CA59266;
$background-color_23: #2CA5927f;
$background-color_24: #2CA59299;
$background-color_25: #2CA592b2;
$background-color_26: #2CA592cc;
$background-color_27: #2CA592e5;
$background-color_28: #2BD70019;
$background-color_29: #2BD70033;
$background-color_30: #2BD7004c;
$background-color_31: #2BD70066;
$background-color_32: #2BD7007f;
$background-color_33: #2BD70099;
$background-color_34: #2BD700b2;
$background-color_35: #2BD700cc;
$background-color_36: #2BD700e5;
$background-color_37: #FFD85219;
$background-color_38: #FFD85233;
$background-color_39: #FFD8524c;
$background-color_40: #FFD85266;
$background-color_41: #FFD8527f;
$background-color_42: #FFD85299;
$background-color_43: #FFD852b2;
$background-color_44: #FFD852cc;
$background-color_45: #FFD852e5;
$background-color_46: #FE504F19;
$background-color_47: #FE504F33;
$background-color_48: #FE504F4c;
$background-color_49: #FE504F66;
$background-color_50: #FE504F7f;
$background-color_51: #FE504F99;
$background-color_52: #FE504Fb2;
$background-color_53: #FE504Fcc;
$background-color_54: #FE504Fe5;
$background-color_55: #000019;
$background-color_56: #000033;
$background-color_57: #00004c;
$background-color_58: #000066;
$background-color_59: #00007f;
$background-color_60: #000099;
$background-color_61: #0000b2;
$background-color_62: #0000cc;
$background-color_63: #0000e5;
$background-color_64: #0000;
$background-color_65: #FFFFFF;
$background-color_66: #2CA592;
$background-color_67: #1D1D1F;
$background-color_68: #FFD852;
$border-color_1: #FFFFFF;
$border-color_2: #2CA592;

.c-white-100 {
  color: $color_1;
}
.bgc-white-100 {
  background-color: $background-color_1;
}
.c-white-200 {
  color: $color_2;
}
.bgc-white-200 {
  background-color: $background-color_2;
}
.c-white-300 {
  color: $color_3;
}
.bgc-white-300 {
  background-color: $background-color_3;
}
.c-white-400 {
  color: $color_4;
}
.bgc-white-400 {
  background-color: $background-color_4;
}
.c-white-500 {
  color: $color_5;
}
.bgc-white-500 {
  background-color: $background-color_5;
}
.c-white-600 {
  color: $color_6;
}
.bgc-white-600 {
  background-color: $background-color_6;
}
.c-white-700 {
  color: $color_7;
}
.bgc-white-700 {
  background-color: $background-color_7;
}
.c-white-800 {
  color: $color_8;
}
.bgc-white-800 {
  background-color: $background-color_8;
}
.c-white-900 {
  color: $color_9;
}
.bgc-white-900 {
  background-color: $background-color_9;
}
.c-black-100 {
  color: $color_10;
}
.bgc-black-100 {
  background-color: $background-color_10;
}
.c-black-200 {
  color: $color_11;
}
.bgc-black-200 {
  background-color: $background-color_11;
}
.c-black-300 {
  color: $color_12;
}
.bgc-black-300 {
  background-color: $background-color_12;
}
.c-black-400 {
  color: $color_13;
}
.bgc-black-400 {
  background-color: $background-color_13;
}
.c-black-500 {
  color: $color_14;
}
.bgc-black-500 {
  background-color: $background-color_14;
}
.c-black-600 {
  color: $color_15;
}
.bgc-black-600 {
  background-color: $background-color_15;
}
.c-black-700 {
  color: $color_16;
}
.bgc-black-700 {
  background-color: $background-color_16;
}
.c-black-800 {
  color: $color_17;
}
.bgc-black-800 {
  background-color: $background-color_17;
}
.c-black-900 {
  color: $color_18;
}
.bgc-black-900 {
  background-color: $background-color_18;
}