@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap");
.cursor-pointer {
  cursor: pointer;
}

.trans {
  transition: 0.3s;
}

.ls-1 {
  letter-spacing: 1px;
}

.ls-2 {
  letter-spacing: 2px;
}

.border-right {
  border-right: 1px solid rgba(29, 29, 31, 0.1);
}

.c-white-100 {
  color: rgba(255, 255, 255, 0.0980392157);
}

.bgc-white-100 {
  background-color: rgba(255, 255, 255, 0.0980392157);
}

.c-white-200 {
  color: rgba(255, 255, 255, 0.2);
}

.bgc-white-200 {
  background-color: rgba(255, 255, 255, 0.2);
}

.c-white-300 {
  color: rgba(255, 255, 255, 0.2980392157);
}

.bgc-white-300 {
  background-color: rgba(255, 255, 255, 0.2980392157);
}

.c-white-400 {
  color: rgba(255, 255, 255, 0.4);
}

.bgc-white-400 {
  background-color: rgba(255, 255, 255, 0.4);
}

.c-white-500 {
  color: rgba(255, 255, 255, 0.4980392157);
}

.bgc-white-500 {
  background-color: rgba(255, 255, 255, 0.4980392157);
}

.c-white-600 {
  color: rgba(255, 255, 255, 0.6);
}

.bgc-white-600 {
  background-color: rgba(255, 255, 255, 0.6);
}

.c-white-700 {
  color: rgba(255, 255, 255, 0.6980392157);
}

.bgc-white-700 {
  background-color: rgba(255, 255, 255, 0.6980392157);
}

.c-white-800 {
  color: rgba(255, 255, 255, 0.8);
}

.bgc-white-800 {
  background-color: rgba(255, 255, 255, 0.8);
}

.c-white-900 {
  color: rgba(255, 255, 255, 0.8980392157);
}

.bgc-white-900 {
  background-color: rgba(255, 255, 255, 0.8980392157);
}

.c-black-100 {
  color: rgba(29, 29, 31, 0.0980392157);
}

.bgc-black-100 {
  background-color: rgba(29, 29, 31, 0.0980392157);
}

.c-black-200 {
  color: rgba(29, 29, 31, 0.2);
}

.bgc-black-200 {
  background-color: rgba(29, 29, 31, 0.2);
}

.c-black-300 {
  color: rgba(29, 29, 31, 0.2980392157);
}

.bgc-black-300 {
  background-color: rgba(29, 29, 31, 0.2980392157);
}

.c-black-400 {
  color: rgba(29, 29, 31, 0.4);
}

.bgc-black-400 {
  background-color: rgba(29, 29, 31, 0.4);
}

.c-black-500 {
  color: rgba(29, 29, 31, 0.4980392157);
}

.bgc-black-500 {
  background-color: rgba(29, 29, 31, 0.4980392157);
}

.c-black-600 {
  color: rgba(29, 29, 31, 0.6);
}

.bgc-black-600 {
  background-color: rgba(29, 29, 31, 0.6);
}

.c-black-700 {
  color: rgba(29, 29, 31, 0.6980392157);
}

.bgc-black-700 {
  background-color: rgba(29, 29, 31, 0.6980392157);
}

.c-black-800 {
  color: rgba(29, 29, 31, 0.8);
}

.bgc-black-800 {
  background-color: rgba(29, 29, 31, 0.8);
}

.c-black-900 {
  color: rgba(29, 29, 31, 0.8980392157);
}

.bgc-black-900 {
  background-color: rgba(29, 29, 31, 0.8980392157);
}

@font-face {
  font-family: "PT Root UI";
  src: url("../fonts/PT-Root-UI_Medium.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "PT Root UI";
  src: url("../fonts/PT-Root-UI_Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PT Root UI";
  src: url("../fonts/PT-Root-UI_Light.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "PT Root UI";
  src: url("../fonts/PT-Root-UI_Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #3089FF;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3383ee;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: #181E34;
  font-family: "PT Root UI";
}

a {
  text-decoration: none;
}

.abhaya-libre-regular {
  font-family: "Abhaya Libre", serif;
  font-weight: 400;
  font-style: normal;
}

.abhaya-libre-medium {
  font-family: "Abhaya Libre", serif;
  font-weight: 500;
  font-style: normal;
}

.abhaya-libre-semibold {
  font-family: "Abhaya Libre", serif;
  font-weight: 600;
  font-style: normal;
}

.abhaya-libre-bold {
  font-family: "Abhaya Libre", serif;
  font-weight: 700;
  font-style: normal;
}

.abhaya-libre-extrabold {
  font-family: "Abhaya Libre", serif;
  font-weight: 800;
  font-style: normal;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  html {
    font-size: 14.5px;
  }
}
body {
  background-color: #f5f6f8;
}

.def-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.container {
  max-width: 1170px;
}

.header {
  width: 100%;
  height: 45.625rem;
  background: url("../images/header-bg.jpg") no-repeat center;
  background-size: cover;
}
.header-join {
  width: 16.875rem;
  height: 11.25rem;
  background: rgba(29, 29, 31, 0.7);
  border-radius: 14px 14px 0 0;
  position: absolute;
  right: 0.9375rem;
  bottom: 0;
  backdrop-filter: blur(15px);
  color: #FFF;
  font-weight: 800;
  font-size: 2.25rem;
  padding: 1.875rem 1.25rem;
  line-height: 2.75rem;
}
@media (max-width: 767px) {
  .header-join {
    width: calc(100% - 30px);
    right: 15px;
  }
}

.dropdown .btn {
  display: flex;
  justify-content: start;
  align-items: center;
  border: 0 solid #FFF !important;
  position: relative;
  color: #000 !important;
  background-color: #fff !important;
}
.dropdown .btn .icon-chevron-down {
  position: absolute;
  right: 5px;
}
.dropdown .btn:hover, .dropdown .btn:focus-visible, .dropdown .btn:focus, .dropdown .btn:active {
  background-color: #fff !important;
  color: #1a1d20 !important;
  outline: none !important;
  border: 0 solid transparent !important;
}
.dropdown .btn .icon-chevron-down {
  transition: 0.3s;
}
.dropdown .btn:after {
  display: none;
}
.dropdown .btn .icon-down {
  transform: rotate(0);
  transition: 0.3s;
  font-size: 6px;
  margin-left: 17px;
}
.dropdown .btn.show .icon-down {
  transform: rotate(-180deg);
}

.get-ultimate {
  position: absolute;
  right: 15px;
  top: 0;
  width: 16.875rem;
  height: 19.25rem;
  background: #FFF;
  border-radius: 0 0 14px 14px;
  padding: 1.875rem 1.25rem;
}
@media (max-width: 767px) {
  .get-ultimate {
    width: calc(100% - 30px);
    right: 15px;
  }
}
.get-ultimate-input {
  margin-top: 2.1875rem;
  width: 100%;
}
.get-ultimate-input input {
  width: 100%;
  height: 3rem;
  background: #FFF;
  border: 1px solid rgba(44, 165, 146, 0.25);
  border-radius: 7px;
  padding-left: 1.25rem;
}
.get-ultimate-input input::placeholder {
  color: rgba(29, 29, 31, 0.25);
  font-weight: 500;
  font-size: 1.0625rem;
}

.home-slider {
  overflow: hidden;
  padding-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
@media (max-width: 768px) {
  .home-slider {
    padding-right: 75px;
  }
}
.home-slider .swiper-pagination {
  margin-top: 1.5625rem;
}
.home-slider .swiper-pagination span {
  margin-right: 10px;
  font-size: 0;
  width: 30px;
  height: 5px;
  opacity: 0.2;
  background: #2CA592;
  border-radius: 0;
  transition: 0.3s;
}
.home-slider .swiper-pagination span[aria-current=true] {
  opacity: 1;
}

.basement {
  width: 100%;
  text-align: center;
  color: #1D1D1F;
  font-size: 1.25rem;
  font-weight: 800;
  letter-spacing: 0.2px;
  position: relative;
}
.basement:before {
  content: "";
  width: 100%;
  height: 1px;
  background: rgba(29, 29, 31, 0.1);
  display: block;
  top: 50%;
  position: absolute;
}
.basement span {
  background: #f5f6f8;
  position: relative;
  padding: 0 10px;
}

.status {
  width: 31.5px;
  height: 20.25px;
  background-color: #ECFFF2;
  border: 0.75px solid #A0FFC2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  color: #16C256;
  font-weight: 700;
  font-size: 10.5px;
}

.product-slider {
  overflow: hidden;
  position: relative;
}
.product-slider .product-slider-pagination {
  margin-top: -20px;
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 10px;
}
.product-slider .product-slider-pagination span {
  margin-right: 10px;
  font-size: 0;
  width: 30px;
  height: 5px;
  opacity: 0.2;
  background: #fff;
  border-radius: 0;
  transition: 0.3s;
}
.product-slider .product-slider-pagination span[aria-current=true] {
  opacity: 1;
}

.select-country {
  position: relative;
  width: 100%;
}
.select-country select {
  padding-left: 25px;
}
.select-country:before {
  content: "";
  width: 12px;
  height: 15px;
  display: block;
  position: absolute;
  left: 9px;
  top: 50%;
  transform: translateY(-50%);
  background: url("../images/icon-map.svg") no-repeat center center;
  background-size: cover;
}

.form-select {
  height: 3rem;
}
.form-select.green-border {
  border: 1px solid rgba(44, 165, 146, 0.25);
}
.form-select.green-border:focus {
  border-color: rgba(44, 165, 146, 0.18);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(44, 165, 146, 0.18);
}

.settings-item {
  padding: 0 1.5625rem;
  cursor: pointer;
  margin-bottom: 10px;
  width: 100%;
  min-height: 3.4375rem;
  background: #FFF;
  border-radius: 14px;
}
.settings-item-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(29, 29, 31, 0.6);
  font-size: 12px;
  height: 3.25rem;
  line-height: 1.2;
  text-transform: uppercase;
  transition: 0.3s;
  padding-top: 0.3125rem;
  font-weight: 300;
}
.settings-item-title i {
  transition: 0.3s;
  font-size: 15px;
}
.settings-item-title .icon-chevron-down {
  transition: 0.3s;
  transform: rotate(0);
}
.settings-item-body {
  color: #181E34;
  font-size: 1.25rem;
  line-height: 1.3;
  overflow: hidden;
  padding-top: 0;
  display: none;
}
.settings-item.active .icon-chevron-down {
  transform: rotate(-180deg);
  color: rgba(24, 30, 52, 0.5);
}
.settings-item.active .settings-item-body {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.def-checkbox {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  user-select: none;
  font-size: 16px;
}
.def-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.def-checkbox .checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  background-color: #fff;
  border: 2px solid #DDDDE3;
  width: 18px;
  height: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.def-checkbox .checkmark:after {
  content: "";
  position: absolute;
  left: 7px;
  top: -5px;
  width: 9px;
  height: 15px;
  border: solid #2CA592;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  transition: 0.3s;
  opacity: 0;
}
.def-checkbox input:checked ~ .checkmark:after {
  opacity: 1;
}
.def-checkbox input:checked ~ .checkmark {
  background: rgba(44, 165, 146, 0.35);
  border: 2px solid transparent;
}

@media (max-width: 991px) {
  .filter-block {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f5f6f8;
    z-index: 100;
    padding-top: 50px;
    height: 100vh;
    overflow-y: auto;
    display: none;
    padding-left: 20px;
    padding-right: 20px;
  }
  .filter-block.active {
    display: block;
  }
  .filter-block-close {
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 16px;
  }
}

.nav-tabs {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  overflow-x: auto;
}
.nav-tabs::-webkit-scrollbar {
  width: 0;
  height: 0;
  border-radius: 5px;
}
.nav-tabs .nav-link {
  color: #1D1D1F;
  font-size: 16px;
  border: 0 !important;
  white-space: nowrap;
  transition: 0.3s;
}
.nav-tabs .nav-link:hover {
  color: #2CA592;
}
.nav-tabs .nav-link.active {
  font-weight: 300;
  border: 0;
  border-bottom: 5px solid #2CA592 !important;
  background: transparent;
  height: 40px;
}

.shadow {
  box-shadow: 5px 5px 30px rgba(203, 208, 217, 0.3) !important;
}

.company-body .product-slider-pagination {
  padding-right: 30px;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 10000;
  background: #fff;
  padding: 20px;
  transition: 0.3s;
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
}
.mobile-menu.active {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}
.mobile-menu-close {
  width: 26px;
  height: 26px;
  background: #F5F6F8;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile-menu-item {
  color: #1D1D1F;
  font-weight: 300;
  font-size: 17px;
  margin-bottom: 16px;
  transition: 0.3s;
  display: block;
}
.mobile-menu-item i {
  transition: 0.3s;
}
.mobile-menu-item:hover {
  color: #2CA592;
}
.mobile-menu-item:hover i {
  color: #2CA592;
}

footer {
  padding-bottom: 6.0625rem;
}

.catalog-more-icon {
  transform: translate(-4px, 2px);
  display: inline-block;
}

.btn-success.bgc-green {
  border: 1px solid #2CA592 !important;
}
.btn-success.bgc-green i {
  transition: 0.3s;
}
.btn-success.bgc-green:hover {
  background: transparent;
  color: #2CA592;
}
.btn-success.bgc-green:hover i {
  color: #2CA592;
}

.btn-trans-green {
  transition: 0.3s;
}
.btn-trans-green i, .btn-trans-green span {
  transition: 0.3s;
}
.btn-trans-green:hover {
  background: #2CA592 !important;
  border: 1px solid #2CA592 !important;
  color: #fff !important;
}
.btn-trans-green:hover i, .btn-trans-green:hover span {
  color: #fff !important;
}

.breakpoint {
  transform: translateY(-4px);
}

.sign-in:hover {
  color: #2CA592;
}
.sign-in:hover i, .sign-in:hover span {
  color: #2CA592;
}

.types:hover {
  background: #2CA592;
  color: #fff;
}

.link-hover:hover {
  color: #2CA592;
}

.btn-green-outline:hover {
  background: #2CA592;
  color: #fff;
}
.btn-green-outline:hover span, .btn-green-outline:hover i {
  color: #fff;
}

.btn-black-outline:hover {
  background: transparent;
  color: #1D1D1F;
}

.avtar-img {
  width: 50px;
  height: 50px;
}

.have-tt {
  margin-top: -15px;
}

.menu-category {
  position: relative;
  cursor: pointer;
  height: 9.1875rem;
}
.menu-category i {
  transition: 0.3s;
  transform: rotate(0);
}
.menu-category:hover .menu-category-body {
  opacity: 1;
  visibility: visible;
}
.menu-category:hover i {
  transform: rotate(-180deg);
}
.menu-category-body {
  position: fixed;
  left: 0;
  top: 8.125rem;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-top: 1px solid #dfe0e1;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 1;
}
.menu-category-body-item {
  margin-right: 1.25rem;
  color: #1D1D1F;
  cursor: pointer;
  transition: 0.3s;
}
.menu-category-body-item:hover {
  color: #2CA592;
}

.desktop-menu {
  transition: 0.3s;
  overflow-y: hidden;
  height: 8.125rem;
  display: flex;
}
.desktop-menu.close {
  height: 0;
}
@media (max-width: 768px) {
  .desktop-menu.close {
    transition: 0.3s;
    overflow-y: hidden;
    height: 8.125rem;
    display: flex;
  }
}

.desktop-menu-block {
  transition: 0.3s;
  overflow: hidden;
  opacity: 1;
}
@media (max-width: 767px) {
  .desktop-menu-block {
    display: none;
  }
}
.desktop-menu-block.close {
  height: 0;
  opacity: 0;
}

.pt-90 {
  padding-top: 5.625rem;
}

.fs-44 {
  font-size: 2.75rem;
}

.mw-639 {
  max-width: 39.9375rem;
}

.me-8 {
  margin-right: 0.5rem;
}

.mb-6 {
  margin-bottom: 0.375rem;
}

.pt-350 {
  padding-top: 21.875rem;
}

.mt-12 {
  margin-top: 0.75rem;
}

.h-220 {
  height: 13.75rem;
}

.mt-15 {
  margin-top: 0.9375rem;
}

.mt-32 {
  margin-top: 2rem;
}

.mb-32 {
  margin-bottom: 2rem;
}

.mb-60 {
  margin-bottom: 3.75rem;
}

.h-360 {
  height: 22.5rem;
}

.gap-30 {
  gap: 1.875rem;
}

.mh-270 {
  max-height: 16.875rem;
}

.h-50 {
  height: 3.125rem !important;
}

.h-170 {
  height: 10.625rem;
}

.mt-18 {
  margin-top: 1.125rem;
}

.pt-40 {
  padding-top: 2.5rem;
}

.mt-68 {
  margin-top: 4.25rem;
}

.mb-68 {
  margin-bottom: 4.25rem;
}

.bgc-white {
  background-color: #FFFFFF;
}

.h-60 {
  height: 3.75rem;
}

.w-98 {
  width: 6.125rem;
}

.fs-20 {
  font-size: 1.25rem;
}

.c-black {
  color: #1D1D1F;
}

.fw-300 {
  font-weight: 300;
}

.me-37 {
  margin-right: 2.3125rem;
}

.fs-10 {
  font-size: 0.625rem;
}

.ls-4 {
  letter-spacing: 0.25rem;
}

.fs-16 {
  font-size: 1rem;
}

.w-40 {
  width: 2.5rem;
}

.h-40 {
  height: 2.5rem;
}

.me-42 {
  margin-right: 2.625rem;
}

.fs-28 {
  font-size: 1.75rem;
}

.fs-30 {
  font-size: 1.875rem;
}

.pt-20 {
  padding-top: 1.25rem;
}

.fs-5 {
  font-size: 0.3125rem !important;
}

.fs-40 {
  font-size: 2.5rem;
}

.mt-51 {
  margin-top: 3.1875rem;
}

.h-48 {
  height: 3rem;
}

.br-7 {
  border-radius: 0.4375rem;
}

.mt-38 {
  margin-top: 2.375rem;
}

.h-46 {
  height: 2.875rem;
}

.ps-20 {
  padding-left: 1.25rem;
}

.h-44 {
  height: 2.75rem;
}

.minw-100 {
  min-width: 6.25rem;
}

.me-7 {
  margin-right: 0.4375rem;
}

.h-93 {
  height: 5.8125rem;
}

.fs-36 {
  font-size: 2.25rem;
}

.mb-18 {
  margin-bottom: 1.125rem;
}

.mt-56 {
  margin-top: 3.5rem;
}

.ps-15 {
  padding-left: 0.9375rem;
}

.br-14 {
  border-radius: 0.875rem;
}

.me-30 {
  margin-right: 1.875rem;
}

.h-190 {
  height: 11.875rem;
}

.fs-17 {
  font-size: 1.0625rem;
}

.p-20 {
  padding: 1.25rem;
}

.mt-55 {
  margin-top: 3.4375rem;
}

.mt-36 {
  margin-top: 2.25rem;
}

.mb-10 {
  margin-bottom: 0.625rem;
}

.mt-70 {
  margin-top: 4.375rem;
}

.mt-100 {
  margin-top: 6.25rem;
}

.mt-40 {
  margin-top: 2.5rem;
}

.mt-50 {
  margin-top: 3.125rem;
}

.me-27 {
  margin-right: 1.6875rem;
}

.mt-84 {
  margin-top: 5.25rem;
}

.flex-js-c {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-sb-c {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-jc-ae {
  display: flex;
  justify-content: center;
  align-items: end;
}

.flex-je-ae {
  display: flex;
  justify-content: flex-end;
  align-items: end;
}

.flex-jc-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-je-c {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-js-s {
  display: flex;
  justify-content: flex-start;
  align-items: start;
}

.mb-34 {
  margin-bottom: 2.125rem;
}

.w-47 {
  width: 2.9375rem;
}

.h-27 {
  height: 1.6875rem;
}

.fs-14 {
  font-size: 0.875rem;
}

.h-440 {
  height: 27.5rem;
}

.h-100 {
  height: 6.25rem;
}

.mt-20 {
  margin-top: 1.25rem;
}

.fs-11 {
  font-size: 0.6875rem;
}

.ls-3 {
  letter-spacing: 0.1875rem;
}

.mt-10 {
  margin-top: 0.625rem;
}

.fw-400 {
  font-weight: 400;
}

.bgc-green {
  background-color: #2CA592;
}

.mt-30 {
  margin-top: 1.875rem;
}

.c-white {
  color: #FFFFFF;
}

.mt-3 {
  margin-top: 0.1875rem;
}

.w-180 {
  width: 11.25rem;
}

.mb-17 {
  margin-bottom: 1.0625rem;
}

.gap-10 {
  gap: 0.625rem;
}

.c-red {
  color: #FE504F;
}

.mt-60 {
  margin-top: 3.75rem;
}

.mt-24 {
  margin-top: 1.5rem;
}

.h-90 {
  height: 5.625rem;
}

.roundLeftTop-14 {
  border-top-left-radius: 0.875rem;
}

.roundRightTop-14 {
  border-top-right-radius: 0.875rem;
}

.mt-17 {
  margin-top: 1.0625rem;
}

.c-yellow {
  color: #FFD852;
}

.roundLeftBottom-14 {
  border-bottom-left-radius: 0.875rem;
}

.roundRightBottom-14 {
  border-bottom-right-radius: 0.875rem;
}

.c-openGreen {
  color: #2BD700;
}

.mb-13 {
  margin-bottom: 0.8125rem;
}

.lh-24 {
  line-height: 1.5rem;
}

.mt-65 {
  margin-top: 4.0625rem;
}

.br-30 {
  border-radius: 1.875rem;
}

.me-6 {
  margin-right: 0.375rem;
}

.mt-21 {
  margin-top: 1.3125rem;
}

.mb-30 {
  margin-bottom: 1.875rem;
}

.h-270 {
  height: 16.875rem;
}

.w-45 {
  width: 2.8125rem;
}

.h-26 {
  height: 1.625rem;
}

.fs-12 {
  font-size: 0.75rem;
}

.bgc-black {
  background-color: #1D1D1F;
}

.left-20 {
  left: 1.25rem;
}

.bottom-20 {
  bottom: 1.25rem;
}

.br-3 {
  border-radius: 0.1875rem;
}

.fs-15 {
  font-size: 0.9375rem;
}

.w-26 {
  width: 1.625rem;
}

.right-20 {
  right: 1.25rem;
}

.mt-102 {
  margin-top: 6.375rem;
}

.mt-29 {
  margin-top: 1.8125rem;
}

.mb-40 {
  margin-bottom: 2.5rem;
}

.mt-6 {
  margin-top: 0.375rem;
}

.me-4 {
  margin-right: 0.25rem;
}

.br-45 {
  border-radius: 2.8125rem;
}

.w-60 {
  width: 3.75rem;
}

.bgc-yellow {
  background-color: #FFD852;
}

.fs-64 {
  font-size: 4rem;
}

.ms-23 {
  margin-left: 1.4375rem;
}

.fs-18 {
  font-size: 1.125rem;
}

.pb-3 {
  padding-bottom: 0.1875rem;
}

.fs-24 {
  font-size: 1.5rem;
}

.lh-22 {
  line-height: 1.375rem;
}

.w-80 {
  width: 5rem;
}

.br-6 {
  border-radius: 0.375rem;
}

.bw-4 {
  border-width: 0.25rem !important;
}

.bc-white {
  border-color: #FFFFFF !important;
}

.top-20 {
  top: 1.25rem;
}

.h-180 {
  height: 11.25rem;
}

.mt-31 {
  margin-top: 1.9375rem;
}

.fs-13 {
  font-size: 0.8125rem;
}

.mb-12 {
  margin-bottom: 0.75rem;
}

.mb-50 {
  margin-bottom: 3.125rem;
}

.gap-20 {
  gap: 1.25rem;
}

.w-49 {
  width: 49% !important;
}

.mb-36 {
  margin-bottom: 2.25rem;
}

.minh-320 {
  min-height: 20rem;
}

.p-10 {
  padding: 0.625rem;
}

.mb-3 {
  margin-bottom: 0.1875rem;
}

.pe-20 {
  padding-right: 1.25rem;
}

.px-4 {
  padding: 0.25rem;
}

.mt-26 {
  margin-top: 1.625rem;
}

.mt-80 {
  margin-top: 5rem;
}

.pe-3 {
  padding-right: 0.1875rem;
}

.w-51 {
  width: 3.1875rem;
}

.bw-5 {
  border-width: 0.3125rem !important;
}

.bc-green {
  border-color: #2CA592 !important;
}

.mb-37 {
  margin-bottom: 2.3125rem;
}

.fs-35 {
  font-size: 2.1875rem;
}

@media (min-width: 768px) {
  .flex-md-js-c {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .fs-md-15 {
    font-size: 0.9375rem;
  }
  .w-md-570 {
    width: 35.625rem !important;
  }
  .pt-md-70 {
    padding-top: 4.375rem;
  }
  .pe-md-400 {
    padding-right: 25rem;
  }
  .mt-md-165 {
    margin-top: 10.3125rem;
  }
  .h-md-440 {
    height: 27.5rem;
  }
  .h-md-570 {
    height: 35.625rem;
  }
  .h-md-130 {
    height: 8.125rem;
  }
  .w-md-138 {
    width: 8.625rem;
  }
  .flex-md-sb-c {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .br-md-14 {
    border-radius: 0.875rem !important;
  }
  .mb-md-10 {
    margin-bottom: 0.625rem;
  }
  .h-md-90 {
    height: 5.625rem;
  }
  .br-md-100 {
    border-radius: 6.25rem;
  }
  .ms-md-12 {
    margin-left: 0.75rem;
  }
  .ms-md-29 {
    margin-left: 1.8125rem;
  }
  .ms-md-10 {
    margin-left: 0.625rem;
  }
  .ms-md-22 {
    margin-left: 1.375rem;
  }
  .fs-md-20 {
    font-size: 1.25rem;
  }
  .fs-md-64 {
    font-size: 4rem;
  }
  .mt-md-154 {
    margin-top: 9.625rem;
  }
}
@media (min-width: 576px) {
  .h-sm-270 {
    height: 16.875rem;
  }
}
@media (min-width: 992px) {
  .w-lg-100 {
    width: 100% !important;
  }
}

/*# sourceMappingURL=style.css.map */
