@import "helper";
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');
@import "../fonts/ptrootui";


$green: #2CA592;
$black: #1D1D1F;
$white: #fff;

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 5px;
}


/* Track */
::-webkit-scrollbar-track {
  background: #ffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #3089FF;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3383ee;
}


* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: #181E34;
  font-family: 'PT Root UI';
}

a {
  text-decoration: none;
}

.abhaya-libre-regular {
  font-family: "Abhaya Libre", serif;
  font-weight: 400;
  font-style: normal;
}

.abhaya-libre-medium {
  font-family: "Abhaya Libre", serif;
  font-weight: 500;
  font-style: normal;
}

.abhaya-libre-semibold {
  font-family: "Abhaya Libre", serif;
  font-weight: 600;
  font-style: normal;
}

.abhaya-libre-bold {
  font-family: "Abhaya Libre", serif;
  font-weight: 700;
  font-style: normal;
}

.abhaya-libre-extrabold {
  font-family: "Abhaya Libre", serif;
  font-weight: 800;
  font-style: normal;
}


@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 14.5px;
  }
}

body {
  background-color: #f5f6f8;
}

.def-image{
  @include bg;
}

.container {
  max-width: 1170px;
}

.header {
  width: 100%;
  height: 45.625rem;
  background: url("../images/header-bg.jpg") no-repeat center;
  background-size: cover;

  &-join {
    width: 16.875rem;
    height: 11.25rem;
    background: rgba(29, 29, 31, 0.7);
    border-radius: 14px 14px 0 0;
    position: absolute;
    right: 0.9375rem;
    bottom: 0;
    backdrop-filter: blur(15px);
    color: #FFF;
    font-weight: 800;
    font-size: 2.25rem;
    padding: 1.875rem 1.25rem;
    line-height: 2.75rem;

    @media (max-width: 767px) {
      width: calc(100% - 30px);
      right: 15px;
    }
  }
}

.dropdown {
  .btn {
    display: flex;
    justify-content: start;
    align-items: center;
    border: 0 solid #FFF !important;
    position: relative;
    color: #000 !important;
    background-color: #fff !important;


    .icon-chevron-down {
      position: absolute;
      right: 5px;
    }

    &:hover, &:focus-visible, &:focus, &:active {
      background-color: #fff !important;
      color: #1a1d20 !important;
      outline: none !important;
      border: 0 solid transparent !important;
    }

    .icon-chevron-down {
      transition: 0.3s;
    }

    &:after {
      display: none;
    }

    .icon-down {
      transform: rotate(-0);
      transition: 0.3s;
      font-size: 6px;
      margin-left: 17px;
    }

    &.show {
      .icon-down {
        transform: rotate(-180deg);
      }
    }
  }

}

.get-ultimate {
  position: absolute;
  right: 15px;
  top: 0;
  width: 16.875rem;
  height: 19.25rem;
  background: #FFF;
  border-radius: 0 0 14px 14px;
  padding: 1.875rem 1.25rem;

  @media (max-width: 767px) {
    width: calc(100% - 30px);
    right: 15px;
  }

  &-input {
    margin-top: 2.1875rem;
    width: 100%;

    input {
      width: 100%;
      height: 3rem;
      background: #FFF;
      border: 1px solid rgba(44, 165, 146, 0.25);
      border-radius: 7px;
      padding-left: 1.25rem;

      &::placeholder {
        color: rgba(29, 29, 31, 0.25);
        font-weight: 500;
        font-size: 1.0625rem;
      }
    }
  }
}


.home-slider {

  overflow: hidden;
  padding-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;

  @media (max-width: 768px){
    padding-right: 75px;
  }

  .swiper-pagination {
    margin-top: 1.5625rem;

    span {
      margin-right: 10px;
      font-size: 0;
      width: 30px;
      height: 5px;
      opacity: 0.2;
      background: #2CA592;
      border-radius: 0;
      transition: 0.3s;

      &[aria-current="true"] {
        opacity: 1;
      }
    }
  }
}


.basement {
  width: 100%;
  text-align: center;
  color: #1D1D1F;
  font-size: 1.25rem;
  font-weight: 800;
  letter-spacing: 0.2px;
  position: relative;

  &:before {
    content: "";
    width: 100%;
    height: 1px;
    background: rgb(29 29 31 / 10%);
    display: block;
    top: 50%;
    position: absolute;
  }

  span {
    background: #f5f6f8;
    position: relative;
    padding: 0 10px;
  }
}

.status {
  width: 31.5px;
  height: 20.25px;
  background-color: #ECFFF2;
  border: 0.75px solid #A0FFC2;
  @include flex('c', 'c');
  border-radius: 9px;
  color: #16C256;
  font-weight: 700;
  font-size: 10.5px;
}


.product-slider {
  overflow: hidden;
  position: relative;

  .product-slider-pagination {
    margin-top: -20px;
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 10px;

    span {
      margin-right: 10px;
      font-size: 0;
      width: 30px;
      height: 5px;
      opacity: 0.2;
      background: #fff;
      border-radius: 0;
      transition: 0.3s;

      &[aria-current="true"] {
        opacity: 1;
      }
    }
  }
}


.select-country {
  position: relative;
  width: 100%;

  select {
    padding-left: 25px;
  }

  &:before {
    content: "";
    width: 12px;
    height: 15px;
    display: block;
    position: absolute;
    left: 9px;
    top: 50%;
    transform: translateY(-50%);
    background: url("../images/icon-map.svg") no-repeat center center;
    background-size: cover;
  }
}

.form-select {

  height: 3rem;

  &.green-border {
    border: 1px solid rgba(44, 165, 146, 0.25);

    &:focus {
      border-color: rgba(44, 165, 146, 0.18);
      outline: 0;
      box-shadow: 0 0 0 .25rem rgba(44, 165, 146, 0.18);
    }

  }
}

.settings{
  &-item{
    padding: 0 1.5625rem;
    cursor: pointer;
    margin-bottom: 10px;
    width: 100%;
    min-height: 3.4375rem;
    background: #FFF;
    border-radius: 14px;
    &-title{
      @include flex('sb', 'c');
      color: rgba(29, 29, 31, 0.6);
      font-size: 12px;
      height: 3.25rem;
      line-height: 1.2;
      text-transform: uppercase;
      transition: 0.3s;
      padding-top: 0.3125rem;
      font-weight: 300;
      i{
        transition: 0.3s;
        font-size: 15px;
      }

      .icon-chevron-down{
        transition: 0.3s;
        transform: rotate(0);
      }
    }

    &-body{
      color: #181E34;
      font-size: 1.25rem;
      line-height: 1.3;
      overflow: hidden;
      padding-top: 0;
      display: none;
    }

    &.active{
      .icon-chevron-down{
        transform: rotate(-180deg);
        color: rgba(24, 30, 52, 0.5);
      }
      .settings-item-body{
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
  }
}

.def-checkbox{
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none;
    font-size: 16px;

   input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    background-color: #fff;
    border: 2px solid #DDDDE3;
    width: 18px;
    height: 18px;
    border-radius: 5px;
    transition: 0.3s;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    left: 7px;
    top: -5px;
    width: 9px;
    height: 15px;
    border: solid #2CA592;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    transition: 0.3s;
    opacity: 0;
  }

  input:checked ~ .checkmark:after {
    opacity: 1;
  }

  input:checked ~ .checkmark {
    background: rgba(44, 165, 146, 0.35);
    border: 2px solid transparent;
  }


}


.filter-block{
  @media (max-width: 991px){
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f5f6f8;
    z-index: 100;
    padding-top: 50px;
    height: 100vh;
    overflow-y: auto;
    display: none;
    padding-left: 20px;
    padding-right: 20px;

    &.active{
      display: block;
    }

    &-close{
      width: 26px;
      height: 26px;
      @include flex('c', 'c');
      color: #000;
      background: #fff;
      border-radius: 50%;
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 16px;
    }
  }
}

.nav-tabs{
  @include flex('s', 'c');
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  overflow-x: auto;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    border-radius: 5px;
  }
  .nav-link{
    color: #1D1D1F;
    font-size: 16px;
    border: 0 !important;
    white-space: nowrap;
    transition: 0.3s;

    &:hover{
      color: #2CA592;
    }
    &.active{
      font-weight: 300;
      border: 0;
      border-bottom: 5px solid #2CA592 !important;
      background: transparent;
      height: 40px;
    }
  }
}

.shadow{
  box-shadow: 5px 5px 30px rgb(203 208 217 / 30%) !important;
}

.company-body{
  .product-slider-pagination{
    padding-right: 30px;
  }
}

.mobile-menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 10;
  background: #fff;
  padding: 20px;
  transition: 0.3s;
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;

  &.active{
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }

  &-close{
    width: 26px;
    height: 26px;
    background: #F5F6F8;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    @include flex('c', 'c');
  }

  &-item{
    color: #1D1D1F;
    font-weight: 300;
    font-size: 17px;
    margin-bottom: 16px;
    transition: 0.3s;
    display: block;
    i{
      transition: 0.3s;
    }
    &:hover{
      color: #2CA592;
      i{
        color: #2CA592;
      }
    }
  }
}


footer{
  padding-bottom: 6.0625rem;
}

.catalog-more-icon{
  transform: translate(-4px, 2px);
  display: inline-block;
}

.btn-success{
  &.bgc-green{
    border: 1px solid #2CA592 !important;
    i{
      transition: 0.3s;
    }
    &:hover{
      background: transparent;
      color: #2CA592;
      i{
        color: #2CA592;
      }
    }
  }
}

.btn-trans-green{
  transition: 0.3s;

  i, span{
    transition: 0.3s;
  }
  &:hover{
    background: #2CA592 !important;
    border: 1px solid #2CA592 !important;
    color: #fff !important;
    i, span{
      color: #fff !important;
    }
  }
}

.breakpoint{
  transform: translateY(-4px);
}

//hover:[c-green,child:[i:[c-green|span:[c-green]]]]
.sign-in{
  &:hover{
    color: $green;
    i, span{
      color: $green;
    }
  }
}


.types{
  &:hover{
    background: $green;
    color: $white;
  }
}

.link-hover{
  &:hover{
    color: $green;
  }
}

//hover:[bgc-green,c-white,child:[span:[c-white]|i:[c-white]]]
.btn-green-outline{
  &:hover{
    background: $green;
    color: $white;
    span,i{
      color: $white;
    }
  }
}
//hover:[bgc-transparent,c-black]
.btn-black-outline{
  &:hover{
    background: transparent;
    color: $black;
  }
}

.avtar-img{
  width: 50px;
  height: 50px;
}